<h1>Todos</h1>

<%= form_for Todo.new do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Submit" %>
<% end %>

<ul class="todos">
  <% @todos.each do |todo| %>
    <%= todo_item(todo) %>
    <% unless todo.completed? %>
      <%= button_to "Mark as done", todo_done_path(todo) %>
    <% end %>
  <% end %>
</ul>
